@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {
    --white: #FFFFFF;
    --alto: #DBDBDB;
    --masala: #423A3A;
    --eunry: #CE9898;
    --Seapink: #EE8B8B;
    --degraded: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
}

.clean-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important
}

/**********/
/* LOADER */
/**********/

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: #fff3f3;
    transition: visibility .4s 0s, opacity .4s, background-color .6s ease-in-out;
    z-index: 1000;
}

.loader__logo {
    animation: .6s 1 both fadeOutUp;
    animation-delay: 1.2s;
}

@keyframes fadeOutUp {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

.loader__dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
    animation: .6s 1 both fadeOutDown;
    animation-delay: 1.2s;
}

@keyframes fadeOutDown {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

.loader__dots span {
    height: 8px;
    width: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #f09197;
    animation: fade 1s infinite;
}

.loader__dots span:nth-child(1) {
    animation-delay: 0s;
}

.loader__dots span:nth-child(2) {
    animation-delay: .1s;
}

.loader__dots span:nth-child(3) {
    animation-delay: .2s;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    50% {
        opacity: .8
    }

    100% {
        opacity: 0
    }
}

.loaded.loader {
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-wrap: break-word;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

main {
    position: relative;
    display: flex;
    min-height: 100vh;
}

main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(./images/background-pattern.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

main>section {
    position: relative;
    display: flex;
    width: 100%;
}

/* CONTENT */

.content .background__mobile {
    display: none;
    position: relative;
    height: 100%;
}

.content .background {
    display: none;
}



.inner {
    display: flex;
    flex-direction: column;
    max-width: 506px;
    margin: 0 auto;
}

header {
    flex-shrink: 0;
}

.logo {
    display: block;
    padding: 64px 32px;
}

.intro {
    padding: 32px;
    flex-shrink: 0;
}

.logo img {
    margin: 0;
}

.intro {
    margin: auto 0;
}

h1,
p {
    margin: 0;
    color: var(--eunry);
}

h1 {
    font-size: 64px;
    font-weight: inherit;
    line-height: 1.077;
    text-transform: uppercase;
}

span {
    font-weight: 300;
    letter-spacing: 17px;
}

span:not(:first-child) {
    font-weight: 600;
    color: var(--masala);
}

p {
    line-height: 1.75;
    margin: 32px 0 40px 0;
}

form {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

input {
    height: 56px;
    width: 100%;
    padding: 18px 142px 18px 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(206, 152, 152, 0.50);
    border-radius: 60px;
    background-color: transparent;
    outline: none;
    overflow: hidden;
}

input::-webkit-input-placeholder {
    color: rgba(206, 152, 152, 0.50);
}

input::-moz-placeholder {
    color: rgba(206, 152, 152, 0.50);
}

input:-ms-input-placeholder {
    color: rgba(206, 152, 152, 0.50);
}

input:-moz-placeholder {
    color: rgba(206, 152, 152, 0.50);
}

form .icon-error {
    display: none;
    position: absolute;
    top: calc(50% - 12px);
    right: 110px;
}

form.error .icon-error {
    display: block;
}

form.error input {
    border: 2px solid #f96464;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100px;
    padding: 0;
    border: 0;
    border-radius: 60px;
    background: var(--degraded);
    box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.25);
    outline: none;
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
}

button:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
}

small {
    font-size: 13px;
    color: #f96464;
    margin-left: 30px;
}

small.success {
    color: var(--eunry);
}

/* HERO */

.hero {
    min-height: 100vh;
    max-width: 610px;
    width: 100%;
    flex-shrink: 0;
}

.hero .background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(./images/background-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .hero {
        max-width: 400px;
    }
}

@media screen and (max-width: 992px) {
    .hero {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    main:before {
        display: none;
    }

    .inner {
        max-width: inherit;
    }

    .logo {
        padding: 32px;
    }

    .intro {
        margin: 0;
        padding: 64px 32px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
        margin: 16px 0 32px 0;
    }

    h1,
    p {
        text-align: center;
    }

    .hero {
        display: none;
    }

    .content .background__mobile {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        max-height: 250px;
    }

    .content .background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
        background-image: url(./images/background-mobile.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    input {
        height: 48px;
        font-size: 14px;
        padding: 10px 110px 10px 24px;
    }

    form .icon-error {
        right: 72px;
    }

    button {
        width: 64px;
    }

    small {
        margin-left: 24px;
    }
}